$thumb-size-mobile: 75px;
$thumb-size-tablet: 120px;
$thumb-size-desktop: 150px;

// -----------------------------
// Style Common Mixin ----------
// -----------------------------

@mixin visible {
  opacity: 1;
  visibility: visible;
}

@mixin hidden {
  opacity: 0;
  visibility: hidden;
}

@mixin square($size: 0) {
  width: $size;
  height: $size;
}

@mixin inset($top: auto, $right: auto, $bottom: auto, $left: auto) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin fixed($top: auto, $right: auto, $bottom: auto, $left: auto) {
  position: fixed;
  @include inset($top, $right, $bottom, $left);
}

@mixin absolute($top: auto, $right: auto, $bottom: auto, $left: auto) {
  position: absolute;
  @include inset($top, $right, $bottom, $left);
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin user-select-none {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

// -----------------------------
// Style Global Gallery --------
// -----------------------------
.gl-d-none {
  display: none;
}

// -----------------------------
// Style Photo Gallery ---------
// -----------------------------
.gl-container {
  @include hidden();
  @include user-select-none;
  @include fixed($top: 0, $left: 0);
  @include square(100%);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  outline: none;
  z-index: 100000;
  transition: 0.4s;
  &.active {
    @include visible();
  }
  &.thumbs-active {
    .gl-inner {
      bottom: $thumb-size-desktop;
      @media (max-width: 768px) {
        bottom: $thumb-size-tablet;
      }
      @media (max-width: 425px) {
        bottom: $thumb-size-mobile;
      }
    }
    .gl-thumbs {
      @include visible();
    }
  }
}

.gl-bg {
  @include absolute(0, 0, 0, 0);
  background: #1e1e1e;
  opacity: 0.9;
}

.gl-inner {
  @include absolute(0, 0, 0, 0);
  backdrop-filter: blur(5px);
  overflow: hidden;
  z-index: 1000;
}

.gl-button {
  @include square(44px);

  display: inline-block;

  font-size: 0.95em;
  line-height: 35px;
  background: rgba(30, 30, 30, 0.6);

  padding: 10px;
  border: 0;
  border-radius: 0;
  box-shadow: none;

  cursor: pointer;
  svg {
    @include square(20px);
    font-size: inherit;
    path {
      fill: #ccc;
    }
  }
  &:hover svg path {
    fill: #fff;
  }
}

.gl-info {
  @include absolute($top: 0, $left: 0);
  height: 44px;

  font-size: 0.85em;
  line-height: 44px;
  color: #ccc;

  padding: 0 10px;
}

.gl-toolbar {
  @include absolute($top: 0, $right: 0);
  width: 264px;
  height: 44px;
  z-index: 10;
}

.gl-navigation {
  &__left,
  &__right {
    @include absolute($top: 50%, $left: 0);
    border-radius: 5px;
    margin: 0 1em;
    z-index: 10;
    transform: translateY(-50%);
  }
  &__right {
    @include absolute($top: 50%, $right: 0);
  }
}

.gl-stage {
  @include square(100%);
  @include absolute($left: 0);
  overflow: hidden;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  &__item {
    width: 100%;
    &__content {
      width: 300px;
      padding-bottom: 60px;
      margin: auto;
      cursor: auto;
    }
  }
  &__slide {
    @include flex-center;
    @include square(100%);
  }
  &__image {
    @include square(100%);
    border-radius: 5px;
  }
}

.gl-caption {
  @include absolute($left: 0, $right: 0, $bottom: 0);

  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #eee;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.85) 0%,
    rgba(0, 0, 0, 0.3) 50%,
    rgba(0, 0, 0, 0.15) 65%,
    rgba(0, 0, 0, 0.075) 75.5%,
    rgba(0, 0, 0, 0.037) 82.84999999999999%,
    rgba(0, 0, 0, 0.019) 88%,
    rgba(0, 0, 0, 0) 100%
  );

  padding: 75px 44px 25px 44px;
  pointer-events: none;
  z-index: 110000;
  &__body {
    max-height: 50vh;
    overflow: auto;
    pointer-events: all;
    h4,
    span {
      min-height: 20px;
      margin: 4px 0;
      word-wrap: break-word;
    }
  }
}

.gl-thumbs {
  @include hidden();
  @include absolute(auto, 0, 0, 0);
  @include square(auto);
  background: rgba(0, 0, 0, 0.3);

  padding: 0 10px;
  box-sizing: border-box;
  scroll-behavior: smooth;

  overflow-x: auto;
  z-index: 110000;
  transition: 0.4s;
  &__list {
    @include square(100%);
    position: relative;
    display: flex;
    list-style: none;

    font-size: 0;
    white-space: nowrap;

    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    &__item {
      @include square($thumb-size-desktop);
      position: relative;
      backface-visibility: hidden;
      background-color: rgba(0, 0, 0, 0.1);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;

      border-radius: 5px;
      padding: 0;
      margin: 4px;

      float: left;
      outline: none;
      overflow: hidden;
      cursor: pointer;
      @media (max-width: 768px) {
        @include square($thumb-size-tablet);
      }
      @media (max-width: 425px) {
        @include square($thumb-size-mobile);
      }
      &::before {
        @include absolute(0, 0, 0, 0);
        content: '';
      }
      &.active {
        &::before {
          border: 2px solid #eee;
          background: radial-gradient(transparent, rgba(0, 0, 0, 0.75));
        }
      }
    }
  }
}

.gl-progress {
  @include absolute($top: 0, $right: 0, $left: 0);
  height: 2px;
  background: #f2930d;

  transform: scaleX(0);
  transform-origin: 0;
  transition-property: transform;
  transition-timing-function: linear;
  z-index: 110000;
}

// -----------------------------
//  Style Scroll Bar -----------
// -----------------------------
::-webkit-scrollbar {
  @include square(4px);
  &-track {
    background: #f4f5f7;
  }
  &-thumb {
    border-radius: 2px;
    background: #2b2e34;
    &:hover {
      background: #555;
    }
  }
}
