$thumb-size: 150px;
$thumb-size-mobile: 75px;

// -----------------------------
// Style Common Mixin ----------
// -----------------------------

@mixin user-select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin visible {
  visibility: visible;
  opacity: 1;
}

@mixin hidden {
  visibility: hidden;
  opacity: 0;
}

@mixin square($size: 0) {
  width: $size;
  height: $size;
}

@mixin inset($top: auto, $right: auto, $bottom: auto, $left: auto) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin fixed($top: auto, $right: auto, $bottom: auto, $left: auto) {
  position: fixed;
  @include inset($top, $right, $bottom, $left);
}

@mixin absolute($top: auto, $right: auto, $bottom: auto, $left: auto) {
  position: absolute;
  @include inset($top, $right, $bottom, $left);
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// -----------------------------
// Style Global Gallery --------
// -----------------------------
.gl-d-none {
  display: none;
}

// -----------------------------
// Style Photo Gallery ---------
// -----------------------------
.gl-container {
  @include user-select-none;
  @include fixed($top: 0, $left: 0);
  @include square(100%);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  outline: none;
  z-index: 100000;
  transition: 0.4s;
  &-hidden {
    @include hidden();
  }
}

.gl-bg {
  @include absolute(0, 0, 0, 0);
  opacity: 0.9;
  background: #1e1e1e;
}

.gl-inner {
  @include absolute(0, 0, 0, 0);
  backdrop-filter: blur(5px);
  overflow: hidden;
  z-index: 110000;
}

.gl-button {
  @include square(44px);
  line-height: 35px;
  font-size: 0.95em;
  background: rgba(30, 30, 30, 0.6);
  display: inline-block;
  padding: 10px;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  svg {
    @include square(20px);
    font-size: inherit;
    path {
      fill: #ccc;
    }
  }
  &:hover svg path {
    fill: #fff;
  }
}

.gl-info {
  @include absolute($top: 0, $left: 0);
  color: #ccc;
  font-size: 0.85em;
  height: 44px;
  line-height: 44px;
  padding: 0 10px;
}

.gl-toolbar {
  @include absolute($top: 0, $right: 0);
  width: 264px;
  height: 44px;
}

.gl-navigation {
  &__left,
  &__right {
    @include absolute($top: 50%, $left: 0);
    transform: translateY(-50%);
    margin: 0 1em;
    border-radius: 5px;
  }
  &__right {
    @include absolute($top: 50%, $right: 0);
  }
}

.gl-stage {
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  &__slide {
    @include flex-center;
    width: 100%;
    height: 100%;
  }
  &__content {
    width: 300px;
    padding-bottom: 60px;
    cursor: auto;
  }
  &__image {
    @include square(100%);
    border-radius: 5px;
  }
}

.gl-caption {
  @include absolute($left: 0, $right: 0);
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.85) 0%,
    rgba(0, 0, 0, 0.3) 50%,
    rgba(0, 0, 0, 0.15) 65%,
    rgba(0, 0, 0, 0.075) 75.5%,
    rgba(0, 0, 0, 0.037) 82.84999999999999%,
    rgba(0, 0, 0, 0.019) 88%,
    rgba(0, 0, 0, 0) 100%
  );
  bottom: 0;
  color: #eee;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  padding: 75px 44px 25px 44px;
  pointer-events: none;
  text-align: center;
  z-index: 110000;
  &__body {
    max-height: 50vh;
    overflow: auto;
    pointer-events: all;
    h4,
    p {
      min-height: 20px;
      margin: 4px 0;
      word-wrap: break-word;
    }
  }
}

.gl-show-thumbs .gl-thumbs {
  @include visible();
}

.gl-thumbs {
  @include hidden();
  @include absolute(auto, 0, 0, 0);
  width: auto;
  height: auto;
  padding: 0 10px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.3);
  scroll-behavior: smooth;
  overflow-x: auto;
  z-index: 110000;
  transition: 0.4s;
  &__list {
    @include square(100%);
    font-size: 0;
    list-style: none;
    white-space: nowrap;
    position: relative;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
  }
  &__item {
    @include square($thumb-size);
    position: relative;
    backface-visibility: hidden;
    background-color: rgba(0, 0, 0, 0.1);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    float: left;
    outline: none;
    overflow: hidden;
    margin: 4px;
    padding: 0;
    border-radius: 5px;
    &::before {
      @include absolute(0, 0, 0, 0);
      content: "";
    }
    &.active {
      &::before {
        border: 2px solid #eee;
        background: radial-gradient(transparent, rgba(0, 0, 0, 0.75));
      }
    }
  }
}

.gl-progress {
  @include absolute($top: 0, $right: 0, $left: 0);
  background: #f2930d;
  height: 2px;
  transform: scaleX(0);
  transform-origin: 0;
  transition-property: transform;
  transition-timing-function: linear;
  z-index: 110000;
}

// -----------------------------
//  Style Scroll Bar -----------
// -----------------------------
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  &-track {
    background: #f4f5f7;
  }
  &-thumb {
    border-radius: 2px;
    background: #2b2e34;
    &:hover {
      background: #555;
    }
  }
}
